**/*.onnx
**/.DS_Store
**/.next/
**/__pycache__/
**/node_modules/
*.zst
.classpath
.env
.ipynb_checkpoints/
.sesskey
.settings/
.venv/
data/
dataset/flickr8k
dataset/flickr8k_embeddings/
target/
.project
